html, body, main {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
    font-family: "Open Sans";
    font-weight: 200;
}

body {
	background-color: #262626;
}

div {
	padding: 1rem 0;
}

ul {
    margin: 0;
}

li {
	list-style: none;
	margin: 1.5rem;
}

input, button {
    margin-left: 12px;
    font-family: "Open Sans";
}

.txtWhite {
    color: white;
}

.btn {
    display: inline-block;
	width: 172px;
    line-height: 24px;
	text-align: center;
    background-color: #125c50;
	color: #fff;
}
.btn:hover {
	background-color: #07241f;
}

.checkbox_div {
    margin-left: 4rem;
    padding: 0.5rem 0;
}

.ltxt{
	font-size: 28px;
}

.mtxt, #listingDiv {
	font-size: 22px;
}

.stxt {
	font-size: 18px;
}

.green {
	background-color: #125c50;
    padding: 5px;
}

.bg_op {
    background-color: rgba(159, 62, 62, 0.6);
}

.no_margin {
    margin: 0;
}

.padding-side {
    padding: 0 1rem;
}

.container_r {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.container_c {
	display: flex;
	flex-direction: column;
}
.label_g {
    color: white;
}

.result {
	color: white;
	width: 50%;
	height: auto;
}

.img_sizing {
    width: 30%;
    height: auto;
}

.searchSection {
    margin-bottom: 1rem;
}

.addMovie {
    margin-top: 2rem;
    border-top: 1px solid gray;
}

#status {
    margin-top: 1rem;
}

#btn_addMovie {
    margin-top: 1rem;
}
